body{
    background-color: black;
    color: white;
}
h1{
color: white;
display: flex;
justify-content: center;
font-size: 400%;
}
.img_parent{
    display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  width: 700px;
  
}

.img {
  flex: 50%; 
  margin-bottom: 10px; 
}

.img img {
  width: 100%; 
  height: auto;
  }

  .img_parent {
    display: grid;
    grid-template-columns: 100%; 
    gap: 10px; 
  }
  
  .img {
    overflow: hidden; 
  }
  
  .img img {
    width: 100%; 
    height: auto;
  }
                 /* taille de image */

.img_parent {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
  }
  
  .img {
    flex: 0 0 50%; 
    margin-bottom: 10px; 
  }
  
  .img img {
    width: 30%; 
    max-width: 40%; 
    width: auto;
    height: auto; 
  }
 .h3{
    
 }
  
